<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Veuillez vous connecter</h2>
                    <form (submit)="connect()"  action="#">
                        <input type="email" name="email" [(ngModel)]="user.email" placeholder="email" />
                        <input type="password" name="mdp" [(ngModel)]="user.motdepasse" placeholder="mot de passe" />
                  
                        <button type="submit" class="btn btn-default">Connexion</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>S'inscrire</h2>
                    <form (submit)="save()" action="#">
                        <input type="text" name="nom" [(ngModel)]="user.nom" placeholder="Nom" />
                        <input type="text" name="prenom" [(ngModel)]="user.prenom" placeholder="Prenom" />
                        <input type="number" name="age" [(ngModel)]="user.age" placeholder="Age" />
                        <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" />
                        <input type="password" name="mdp" [(ngModel)]="user.motdepasse" placeholder="Mot de passe" />
                        <input type="text" name="tel" [(ngModel)]="user.telephone" placeholder="Telephone" />
                        <button type="submit" class="btn btn-default">S'inscrire</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->